* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #f4ecd9;
  color: rgb(34, 34, 34);
}

.error {
  color: red;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.success {
  color: green;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.avatar {
  cursor: pointer;
}

.link {
  color: #285678;
  cursor: pointer;
}
